<%= @secret_word %>
<h1>Hangman</h1>
<div class="secret_word">
  <p>
    <% @secret_word.split("").each do |letter| %>
      <% if @guessed_letters.include?(letter) %>
        <%= "#{letter}" %>
      <% else %>
        <%= "_" %>
      <% end %>
    <% end %>
  </p>
</div>
<div class="guessed_letters">
  <p>
    Guessed letters:
    <% @guessed_letters.each do |letter| %>
      <%= "#{letter} " %>
    <% end %>
  </p>
</div>
<div class="turns_left">
  <p>
    Number of turns left: <%= @turns_left.length %>
  </p>
</div>

<div class="div_form">
  <form action="/" method="post">
    <label for="guess">Enter a guess</label>
    <input id="letter_guess" type="text" name="guess" />
    <input id="sub_button" type="submit" name="submit_guess" value="Submit!" />
  </form>
  <% if message %>
    <%= "#{message}" %>
  <% end %>
</div>
